### link = https://www.ambitionbox.com/list-of-companies

In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

In [2]:
headers = {'User-Agent' : 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/77.0.3865.90 Safari/537.36'}
data = pd.DataFrame()

for i in range(1,30) :
    web_page = requests.get('https://www.ambitionbox.com/list-of-companies?page={}'.format(i), headers=headers).text
    soup = BeautifulSoup(web_page, 'lxml')
    companies = soup.find_all('div', class_ = 'company-content-wrapper')
    
    name = []
    rating = []
    reviews = []
    ctype = []
    hq = []
    age = []
    employees = []
    about = []

    for company in companies : 
        if len(company.find_all('p', class_='infoEntity')) > 3 :
            name.append(company.find('h2').text.strip())
            rating.append(company.find('p', class_='rating').text.strip())
            reviews.append(company.find('a', class_='review-count').text.strip())
            ctype.append(company.find_all('p', class_='infoEntity')[0].text.strip())
            hq.append(company.find_all('p', class_='infoEntity')[1].text.strip())
            age.append(company.find_all('p', class_='infoEntity')[2].text.strip())
            employees.append(company.find_all('p', class_='infoEntity')[3].text.strip())
            about.append(company.find('p', class_='description').text.strip())
    
    diction = {'name' : name, 'rating' : rating, 'reviews' : reviews, 'ctype' : ctype, 'hq' : hq, 'age' : age, 'employees' : employees, 'about' : about}
    curr_data = pd.DataFrame(diction)
    data = data.append(curr_data, ignore_index = True)

In [3]:
data

,name,rating,reviews,ctype,hq,age,employees,about
0,TCS,3.9,(39.8k Reviews),Public,"Mumbai,Maharashtra + 237 more",54 years old,1 Lakh+ Employees (India),We ensure the highest levels of certainty and ...
1,Accenture,4.1,(26.6k Reviews),Public,"Dublin,Dublin + 131 more",33 years old,1 Lakh+ Employees (India),Accenture is a global professional services co...
2,Cognizant,3.9,(24.2k Reviews),Private,"Teaneck,New Jersey + 87 more",28 years old,1 Lakh+ Employees (India),"At Cognizant, we give organizations the insigh..."
3,ICICI Bank,4.0,(31.2k Reviews),Public,"Mumbai,Maharashtra + 980 more",28 years old,50k-1 Lakh Employees (India),ICICI Bank is a leading private sector bank in...
4,Wipro,3.9,(22.8k Reviews),Public,"Bangalore/Bengaluru,Karnataka + 251 more",77 years old,1 Lakh+ Employees (India),"Wipro Limited (NYSE: WIT, BSE: 507685, NSE: WI..."
...,...,...,...,...,...,...,...,...
805,DAV Public Schoo...,4.1,(489 Reviews),Private,"Delhi/NCR,New Delhi + 113 more",136 years old,1 Lakh+ Employees (India),D.A.V. stands for Faith in the eternal values ...
806,Schlumberger,4.2,(497 Reviews),Private,"Houston,Texas + 26 more",14 years old,5k-10k Employees (India),Our story begins with what it truly means to b...
807,VVDN Technologie...,3.8,(488 Reviews),Private,Gurgaon + 24 more,15 years old,1k-5k Employees (India),VVDN is a Product Engineering & Manufacturing ...
808,MAHLE ANAND Filt...,4.2,(487 Reviews),Private,"Stuttgart,Germany + 17 more",17 years old,1k-5k Employees (India),MAHLE is a leading international development p...
809,Air India Sats A...,3.9,(487 Reviews),Private,"Mumbai,Maharashtra + 22 more",12 years old,1k-5k Employees (India),AISATS is a 50:50 joint venture between Air In...

In [5]:
data.to_csv('company_810.csv')