In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('train_wn75k28.csv')

In [3]:
# from sklearn.linear_model import LogisticRegression
# classifier = LogisticRegression()
# classifier.fit(x_train, y_train)

In [4]:
data = data.drop(['products_purchased'], axis = 1)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39161 entries, 0 to 39160
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    39161 non-null  int64
 1   created_at            39161 non-null  object
 2   campaign_var_1        39161 non-null  int64
 3   campaign_var_2        39161 non-null  int64
 4   signup_date           24048 non-null  object
 5   user_activity_var_1   39161 non-null  int64
 6   user_activity_var_2   39161 non-null  int64
 7   user_activity_var_3   39161 non-null  int64
 8   user_activity_var_4   39161 non-null  int64
 9   user_activity_var_5   39161 non-null  int64
 10  user_activity_var_6   39161 non-null  int64
 11  user_activity_var_7   39161 non-null  int64
 12  user_activity_var_8   39161 non-null  int64
 13  user_activity_var_9   39161 non-null  int64
 14  user_activity_var_10  39161 non-null  int64
 15  user_activity_var_11  39161 non-null  int64
 16  user_activity_var_12  39161 non-null  int64
 17  buy                   39161 non-null  int64
dtypes: int64(16), object(2)
memory usage: 5.4+ MB

In [6]:
data.head()

,id,created_at,campaign_var_1,campaign_var_2,signup_date,user_activity_var_1,user_activity_var_2,user_activity_var_3,user_activity_var_4,user_activity_var_5,user_activity_var_6,user_activity_var_7,user_activity_var_8,user_activity_var_9,user_activity_var_10,user_activity_var_11,user_activity_var_12,buy
0,1,2021-01-01,1,2,2020-09-24,0,0,0,0,0,0,1,1,0,0,0,0,0
1,2,2021-01-01,2,1,2020-09-19,1,0,1,0,0,0,1,0,0,0,0,0,0
2,3,2021-01-01,9,3,2021-08-11,1,0,0,0,0,0,0,0,0,0,0,0,0
3,4,2021-01-01,6,7,2017-10-04,0,0,0,0,0,0,0,0,0,0,0,0,0
4,5,2021-01-01,4,6,2020-06-08,0,0,0,0,0,0,1,0,0,0,1,0,0

In [7]:
# data_null_date = data[data['signup_date'].isnull()]
# data_null_date

In [8]:
data['signup_date'].value_counts()

2021-07-18    45
2021-08-03    38
2021-01-28    38
2021-09-10    38
2021-09-20    38
              ..
2018-11-16     1
2018-05-20     1
2017-12-08     1
2017-10-12     1
2017-10-19     1
Name: signup_date, Length: 1800, dtype: int64

In [9]:
x_train = data.iloc[:, [2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]].values
y_train = data.iloc[:, 17].values

In [10]:
x_train

array([[ 1,  2,  0, ...,  0,  0,  0],
       [ 2,  1,  1, ...,  0,  0,  0],
       [ 9,  3,  1, ...,  0,  0,  0],
       ...,
       [ 8,  7,  1, ...,  0,  0,  0],
       [ 7, 12,  0, ...,  0,  1,  0],
       [ 2,  5,  1, ...,  0,  0,  0]], dtype=int64)

In [11]:
y_train

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [12]:
from sklearn.preprocessing import StandardScaler

In [13]:
# x_train = preprocessing.StandardScaler().fit(x_train)

In [14]:
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import make_pipeline
pipe = make_pipeline(StandardScaler(), LogisticRegression())

In [15]:
pipe.fit(x_train, y_train)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('logisticregression', LogisticRegression())])

In [16]:
data_test = pd.read_csv('test_Wf7sxXF.csv')

In [17]:
data_test = data_test.drop(['products_purchased'], axis = 1)

In [18]:
data_test.shape

(13184, 17)

In [19]:
data_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13184 entries, 0 to 13183
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    13184 non-null  int64
 1   created_at            13184 non-null  object
 2   campaign_var_1        13184 non-null  int64
 3   campaign_var_2        13184 non-null  int64
 4   signup_date           6535 non-null   object
 5   user_activity_var_1   13184 non-null  int64
 6   user_activity_var_2   13184 non-null  int64
 7   user_activity_var_3   13184 non-null  int64
 8   user_activity_var_4   13184 non-null  int64
 9   user_activity_var_5   13184 non-null  int64
 10  user_activity_var_6   13184 non-null  int64
 11  user_activity_var_7   13184 non-null  int64
 12  user_activity_var_8   13184 non-null  int64
 13  user_activity_var_9   13184 non-null  int64
 14  user_activity_var_10  13184 non-null  int64
 15  user_activity_var_11  13184 non-null  int64
 16  user_activity_var_12  13184 non-null  int64
dtypes: int64(15), object(2)
memory usage: 1.7+ MB

In [20]:
x_test = data_test.iloc[:, [2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]].values

In [21]:
answer = list(pipe.predict(x_test))

In [22]:
len(answer)

13184

In [23]:
diction = {'id' : data_test['id'], 'buy' : answer}
final_answer = pd.DataFrame(diction)
final_answer

          id  buy
0      39162    1
1      39163    0
2      39164    0
3      39165    1
4      39166    0
...      ...  ...
13179  52341    0
13180  52342    0
13181  52343    0
13182  52344    0
13183  52345    0

[13184 rows x 2 columns]

In [24]:
final_answer['buy'].value_counts()

0    12895
1      289
Name: buy, dtype: int64

In [25]:
# final_answer.to_csv('log_reg_final.csv', index=False)